<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    #{}
    ${}
    区别
-->
<mapper namespace="com.mybatis.demo1.dao.UserDao">

<!--
    /*
    * 测试 #{} ${}
    * 通常在方法的参数列表上加上一个注释@Param("XXX") 显示指定参数的名字，然后通过${} #{}
    * Sql语句动态生成的时候，使用${} 进行字符串拼接，相当于sql语句中的Statement，使用字符串去拼接sql
    * Sql语句中某个参数进行站位的时候使用#{}，表示站位，与参数名字无关，如果只有一个参数，会自动对应
    * */
-->
    <select id="queryUser" resultType="com.mybatis.demo1.pojo.User">
        SELECT * FROM #{tableName}
    </select>
    <select id="queryUser1" resultType="com.mybatis.demo1.pojo.User">
        SELECT * FROM ${tableName}
    </select>
</mapper>
